* {
  font-family: "Noto Sans Mono CJK SC";
  color: #bfc8d8;
  background: transparent;
}

#window {
  background-color: #8087a2;
  margin: auto;
  padding: 10px;
  border: 5px solid #b7bdf8;
}

#input {
  padding: 10px;
  color: #cad3f5;
  margin-bottom: 10px;
  border-radius: 15px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  background-color: #939ab7;
}

#text {
  margin: 2px;
}
