* {
  font-family: Noto Sans Mono CJK SC;
  color: #bfc8d8;
  background: transparent;
}

#window {
  background: rgba(78, 66, 94, 0.5);
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  border: 5px solid #b072d1;
}

#input {
  padding: 10px;
  color: #b1ebeb;
  margin-bottom: 10px;
  border-radius: 15px;
}

#outer-box {
  padding: 20px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 15px;
}

#entry:selected {
  background-color: #3f4858;
}

#text {
  margin: 2px;
}
